<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<title>Home</title>

	<style type="text/css">
		body{
			margin-top: 20px;
		}
  
	</style>
</head>
<body>
<div class="container mx-auto">
	<div class="container-fluid ">

	<form id="post-form" method="POST" action="checkview">
		{% csrf_token %}
		<div class="form-group">
			<div class="row ">
				<div class="col-md-12">
			<label for="roomname1">Room Name</label>
			<input placeholder="Room Name" type="text" name="room_name" id="room_name" class="form-control">
		</div>
		</div>
	</div>

		<div class="form-group">
			<div class="row">
				<div class="col-md-12">
			<label for="username1">Username</label>
			<input class="form-control" type="text" placeholder="Username" name="username" id="username"/>
		</div>
		</div>
	</div>

		<div class="form-group">
			<input type="submit" class="form-control btn btn-success" name="" value="Enter Chat Room">
		</div>
	</form>
</div>
</div>
</body>
</html>